.App {
  text-align: center;
  
  /* overflow: hidden; */
}


.additionalInfo {
  position: absolute;
  display: inline;
  right: 0%;
  width: 10%;
  height: 62px;
}

@media screen and (max-width: 550px) {

  div {
    font-size: 8px;
  }
  
}

.video {
  width: 100%;
}
